#demo{
  blockquote{ margin-bottom: 0;}
  p{ margin-bottom: 2rem;}
}

// 简历
.wt{ position: relative; padding: 2rem 1rem 0;
  section{ margin: 1rem 0 2rem;
    h2{ margin-bottom: 1rem;}
    h5,
    h5+p{ margin-bottom: .2rem;}
    h5{
      small{ margin-left: 1rem;}
    }
    p{ margin-bottom: 2rem; line-height: 1.6;}
    img{ max-width: 100%; object-fit: cover;}
  }
  section#profile{
    h1{ position: relative;
      small{ position: absolute; top: -1.5rem; left: 2.7rem; font-size: 1.3rem;}
    }
  }

  section#contact{ position: absolute; right: 1rem; top: 2rem; text-align: right;
    p{ margin-bottom: 0;}
  }

  section#objective{ display: flex;
    p{ position: relative; top: .85rem; margin-left: 1rem;}
  }

  section#experience{
    p{ color: #666;}
    h5{
      .job{ font-weight: normal;}
    }
  }
  @media (max-width: 992px) {
    section#experience{
      h5{ margin-bottom: .5rem; display: flex; flex-wrap: wrap;
        .employer{ width: 100%;}
        .job{ font-size: 1rem;}
      }
    }
  }
  @media (min-width: 992px) {
    section#experience{
      h5{ display: flex; flex-wrap: wrap;
        .period{ width: 12%;}
        .employer{ margin: 0 2rem; width: 22%;}
      }
    }
  }

  section#projects{
    .project{ margin-bottom: 3rem; padding-bottom: 3rem; }
  }

  section#showcase{
    .showcase{ padding-bottom: 3rem;}
  }

  section#thanks{ margin-bottom: 0; background: #0074CC;
    h2{ margin-bottom: 0; padding: 4rem 2rem; text-align: center; color: #fff;}
  }
}
