#demo blockquote {
  margin-bottom: 0;
}

#demo p {
  margin-bottom: 2rem;
}

.wt {
  position: relative;
  padding: 2rem 1rem 0;
}

.wt section {
  margin: 1rem 0 2rem;
}

.wt section h2 {
  margin-bottom: 1rem;
}

.wt section h5,
.wt section h5 + p {
  margin-bottom: .2rem;
}

.wt section h5 small {
  margin-left: 1rem;
}

.wt section p {
  margin-bottom: 2rem;
  line-height: 1.6;
}

.wt section img {
  max-width: 100%;
  object-fit: cover;
}

.wt section#profile h1 {
  position: relative;
}

.wt section#profile h1 small {
  position: absolute;
  top: -1.5rem;
  left: 2.7rem;
  font-size: 1.3rem;
}

.wt section#contact {
  position: absolute;
  right: 1rem;
  top: 2rem;
  text-align: right;
}

.wt section#contact p {
  margin-bottom: 0;
}

.wt section#objective {
  display: flex;
}

.wt section#objective p {
  position: relative;
  top: .85rem;
  margin-left: 1rem;
}

.wt section#experience p {
  color: #666;
}

.wt section#experience h5 .job {
  font-weight: normal;
}

@media (max-width: 992px) {
  .wt section#experience h5 {
    margin-bottom: .5rem;
    display: flex;
    flex-wrap: wrap;
  }
  .wt section#experience h5 .employer {
    width: 100%;
  }
  .wt section#experience h5 .job {
    font-size: 1rem;
  }
}

@media (min-width: 992px) {
  .wt section#experience h5 {
    display: flex;
    flex-wrap: wrap;
  }
  .wt section#experience h5 .period {
    width: 12%;
  }
  .wt section#experience h5 .employer {
    margin: 0 2rem;
    width: 22%;
  }
}

.wt section#projects .project {
  margin-bottom: 3rem;
  padding-bottom: 3rem;
}

.wt section#showcase .showcase {
  padding-bottom: 3rem;
}

.wt section#thanks {
  margin-bottom: 0;
  background: #0074CC;
}

.wt section#thanks h2 {
  margin-bottom: 0;
  padding: 4rem 2rem;
  text-align: center;
  color: #fff;
}
