{{ with .Site.Data.fe.skillSection }}
{{ if .enable }}
  <section id="skills">
    <h2>{{ .title }}</h2>
    {{ $section := .skill }}
    {{ range $section }}
    <div class="skill-item">
      <div class="d-flex justify-content-between"><span class="skill-title">{{ .title }}</span><span class="progess-value"><em>{{ .percent }}</em>%</span></div>
      <div class="progress">
        <div class="progress-bar" style="width: {{ .percent }}%;" aria-valuemin="0"
        aria-valuemax="{{ .percent }}"></div>
      </div>
    </div>
    {{ end }}
  </section> 
{{ end }}
{{ end }}